body{
	margin-left: 30px;
	
}
.logo{
	margin-top: 30px;
	margin-bottom: 14px;
	width: 100px;
}
.nav-li{
	font-size: 22px;
	color: #3D58A6;
	margin-top: 10px;
}
.nav-active{
	color: #EE4036;
}
.banner-img{
	margin-top: 25px;
}
.footer-logo{
	height: 30px;
	margin-top: 30px;
}
.blue-box{
	width: 56px;
	font-size: 48px;
	color: #fff;
	background-color: #3D58A6;
	margin-top: 42px;
	text-align: center;
}
.date{
	font-size: 22px;
	color: #3D58A6;
}
.article-1{
	font-size: 22px;
	margin: 22px 0;
}
.article-p{
	font-size: 16px;
	margin-top: 30px;
}
.contact{
	text-align: center;
	
}
.h3{
	color: #3D58A6;
}
.text-1{
	color: #808080;
	font-size: 16px;
}